---
import "../styles/global.css";
import { Image } from "astro:assets";
import luk from "../assets/luk.webp";
import om from "../assets/hostmon.webp";
---

<div popover id="omhostmonPopover" class="background">
  <div class="stickyBox">
    <button popovertarget="omhostmonPopover" id="close_btn" class="lukBtn"
      ><Image src={luk} alt="Luk knap" /></button
    >
  </div>

  <article>
    <div class="container">
      <Image src={om} alt="Om Høst Møn" />
      <h1>Om Høst Møn</h1>
    </div>
    <div class="text">
      <p>
        Billetterne er i salg nu! Inflationen inden for æstetik, alkohol og
        gebyrer er stadig høj, så priserne bliver nødt til at følge med. Men det
        lover vi, at kvaliteten og oplevelsen også gør, og vi stiller
        pengene-tilbage-garanti for enorm lykke. Hvad med navnet? Det finder vi
        ud af. Indtil videre hedder vi det samme. Man kan tage festivalen ud af
        Møn, men ikke Møn ud af festivalen og alt det der.
      </p>
      <br />
      <p>
        Det er den syvende Høst Møn på ni år, for hverken verdensomspændende
        pandemier eller lokalt huserende markfirben kan holde os fra at skabe
        skønne, støjende fællesskaber på sydlige breddegrader med alle jer.
      </p>
      <br />

      <p>
        Vi er sikkert stadig sommerens sidste skrig, og vores enorme ambitioner
        er uændrede. Høst Møn er en musikfestival for folk, der elsker begge
        dele: musik og festival. Vi er til for mennesker, der gerne vil lytte
        til musikken.
      </p>
      <br />

      <p>
        Vi booker bredt fra dit yndlingsband til de små spillesteders snavsede
        juveler.\n\nDer kommer mindst 12 bands på årets festival. Der kommer
        økologisk fadøl og lokalbrygget gin. Der er opbyggelig fællesspisning
        med nedbrydeligt bestik under kulørte lamper. Det er havudsigt,
        stjernehimmel og træk-og-slip.
      </p>
      <br />

      <p>
        Du kan gøre, hvad du vil på Høst Møn - med eller uden børn og søvn.
        Omgivelserne er trygge, og rammerne er vide, og hvis du vil bade om
        natten og drikke om morgenen, så kan du gøre det. Så længe du ikke
        snakker foran scenen, når musikken spiller.
      </p>
      <p>
        Det lykkedes os ikke at finde et nyt sted i 2025, så i stedet brugte vi
        vores kræfter på at kuratere og afvikle musik til den nystartede Impact
        Festival i Københavns Sydhavn sammen med de fine folk fra Trifolium. Det
        gør vi igen i 2026, samtidig med at vi holder Høst Møn.
      </p>
      <br />
      <p><b>Kontakt os:</b></p>
      <p>Spørgsmål, samarbejde, generel info: info@hoestmoen.dk</p>
      <p>Booking: booking@hoestmoen.dk</p>
      <p>Produktion (scene, plads, infrastruktur): produktion@hoestmoen.dk</p>
      <p>Frivillige: frivillig@hoestmoen.dk</p><br />
    </div>
  </article>
</div>

<style>
  .container {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .text {
    padding: 1rem;
  }
  .text p {
    width: 75%;
    justify-self: center;
  }
  #omhostmonPopover {
    margin: auto;
    color: white;
    border: none;
    width: 50%;
    max-height: 70vh;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 2;
    width: calc(100% - 2rem);
    font-size: 4vw;
  }

  @media screen and (max-width: 600px) {
    #omhostmonPopover {
      margin: auto;
      width: 80%;
      max-height: 80vh;
    }

    .text p {
      width: 100%;
      text-wrap: balance;
    }
  }
</style>
