<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Høst Møn Festival</title>
    <link rel="stylesheet" href="styles/global.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main class="background">
      <header>
        <img
          src="/img_vid/logo.webp"
          alt="Høst Møn Festival Logo"
          class="logo"
        />
        <h3>28.-29. AUGUST 2027</h3>
        <button popovertarget="menuPopover"
          ><img src="/img_vid/menu.webp" alt="Menu knap" class="menu" /></button
        >
      </header>

      <slot />
      <footer>
        <div>
          <p>SOMMERENS SIDSTE SKRIG</p>
          <p>VENDER TILBAGE I 2026</p>
          <p>DET BLIVER HØJT OG SMUKT</p>
        </div>
        <div class="contacts">
          <a href="https://www.facebook.com/hoestmoen">FACEBOOK</a>
          <a href="https://www.instagram.com/hoestmoen/">INSTAGRAM</a>
        </div>
      </footer>
    </main>
  </body>
</html>

<style>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 1rem;
}

.logo {
  width: clamp(150px, 15vw, 200px);
}

header h3 {
  flex: 1;
  min-width: 0;
  text-align: center;
  font-size: 3vw;
}

.menu {
  width: clamp(70px, 12vw, 140px);
}


  .menu:hover {
    cursor: pointer;
    filter: saturate(130%);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
  }

  .contacts {
    display: block;
    text-align: right;
  }

  .contacts a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
  }

  .contacts a:hover {
    text-decoration: underline;
  }

      @media screen and (max-width: 800px) {
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 1rem;
}
    }
</style>
